/* body{
    background-color: rgb(8, 8, 36);
}
h1{
    color: rgb(255, 2, 2);
}
dt{
    color: rgb(228, 134, 12);
}
a{
    color: aqua;
} */
code{
    background-color: rgb(24, 24, 85);
    color: aqua;
}